@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.main-container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #047ade;
    height:100vh;
}
.card{
    border : 1px solid grey;
    padding: 30px;
    margin:10px;
    height:500px;
    width:350px;
    border-radius: 5px;
    background-color: #fff;
}
.card1{
    border : 1px solid grey;
    padding: 30px;
    margin:10px;
    height:600px;
    width:350px;
    border-radius: 5px;
    background-color: #fff;
}
.heading {
   text-align: center;
   padding:10px;
}
.form-control {
   padding:0px 0px;
   text-align: center;
}
.form-controls {
    padding:5px 0px;
    text-align: center;
 }
input[type="number"],[type="text"],[type="email"],[type="password"],[type="date"],[type="textarea"]{
    border:none;
    padding:3px;
    border-bottom: 1px solid grey;
    font-size:15px;
    width: 100%;
    background-color: #fff;
    margin-top: 50px;
}
input:focus{
    outline:none;
    background-color: #fff;
}
.btn{
    padding:5px 15px;
    border:none;
    border-radius: 5px;
    color:#fff;
    background-color: #047ade;
    margin-left: 110px;
}
.alert{
    background-color: red;
    text-align: center;
    color:#fff;
    padding:5px;
    font-size: 13px;
    border-radius: 5px;
}
.alerts{
    background-color: red;
    text-align: center;
    color:#fff;
    font-size: 13px;
    border-radius: 5px;
}
.alert-green{
    background-color: green;
    text-align: center;
    color:#fff;
    padding:5px;
    font-size: 13px;
    border-radius: 5px;
}

.logout{
    padding:5px 15px;
    border:none;
    border-radius: 5px;
    color:#fff;
    background-color: #047ade;
    margin-left: 640px; 
}
.welcome-heading{
    text-align:center;
    color:#047ade;
    font-size :25px;
    margin-top:160px;
}
.date-label{
    text-align: left;
    font-size: small;
    font-weight: 600;
}
#alert{
    background-color: red;
    border-radius:5px;
    color:#fff;
    font-size:16px;
    text-align:center;
    font-weight:900;
}
.odd{
    font-size:20px;
    color:darkblue;
    font-weight:bold;
}
.even{
    font-size:20px;
    color:darkgreen;
    font-weight:bold;
}
table{
    border:1px solid grey;
    background-color : yellow;
    position:absolute;
    left:300px;
    top:100px;
}
td,th{
    border :1px solid #000;
}
.col-green{
    color:green;
}
.col-orange{
    color:orange;
}
.col-yellow{
    color:yellow;
}
.col-zero{
    color:#000;
}
.col-blue{
    color:blue;
}
.col-red{
    color:red;
}
.texts{
    width:100%;
}