input[type="text"]{
    margin-top: 20px;
}
.main-container{
    background-color: #417D7A;
}
.card{
    height:390px;
    width:350px;
}
.heading-cms{
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.1em;
    padding-top: 35px;
}
.btn-cms{
    padding:7px 30px;
    border:none;
    border-radius: 2px;
    color:#fff;
    background-color:#000;
    margin-left: 90px;
}