@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', Courier, monospace;
}
body{
    min-height: 100vh;
    background-color: #E4E9F7;
    transition:all 0.3s ease;
}
::selection{
    background-color: #695cfe;
    color:#fff
}
.sidebar {
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:250px;
    padding:10px 14px;
    background-color: #047ade;
    transition: all 0.3s ease;
    z-index:100;
}
.sidebar.close{
    width:88px;
}
.sidebar li{
    height:50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.sidebar .text,
.sidebar .icon{
    color:#fff;
    transition:all 0.3s ease;
}