@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', Courier, monospace;
}
body{
    min-height: 100vh;
    background-color: #E4E9F7;
    transition:all 0.3s ease;
}
a{
    text-decoration: none;
}
::selection{
    background-color: #695cfe;
    color:#fff
}
.sidebar {
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:250px;
    padding:10px 14px;
    background-color: #047ade;
    transition: all 0.3s ease;
    z-index:100;
}
.sidebar.close{
    width:88px;
}
.sidebar li{
    height:50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.sidebar .text,
.sidebar .icon{
    color:#fff;
    transition:all 0.3s ease;
}

/* table */

table {
    text-align: left;
    position: relative;
    border-collapse: collapse; 
    background-color: #f6f6f6;
  }/* Spacing */
  td, th {
    border: 1px solid #999;
    padding: 20px;
  }
  th {
    background: brown;
    color: white;
    border-radius: 0;
    position: sticky;
    top: 0;
    padding: 10px;
  }
  .primary{
    background-color: #000000
  }
  
  tfoot > tr  {
    background: black;
    color: white;
  }
  tbody > tr:hover {
    background-color: #ffc107;
  }